
      <tr id="<%= dom_id document %>">
        <td><%= document.title %></td>
        <td>
          <% if document.file.attached? %>
            <%= link_to document.file.filename, document_path(document, format: :preview) %>
          <% end %>
        </td>
        <td><%= document.views %></td>
        <td>
          <% if policy(document).edit? %>
            <%= link_to "Edit", edit_document_path(document) %>
          <% end %>
          &nbsp;
          <% if policy(document).destroy? %>
            <%= link_to "Destroy", document_path(document), method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
        </td>
      </tr>