<%= form_with(model: document, url: [folder, document], html: {class: "flex flex-col my-4 items-left"}) do |form| %>
  <div>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :folder, style: "display: block" %>
    <%= collection_select(:document, :folder_id, current_user.folders, :id, :name, :include_blank => true) %>
    <div class="text-sm"><%= link_to "Create Folder", new_folder_path %></div>
  </div>

  <div>
    <%= form.label :file, style: "display: block" %>
    <%= form.file_field :file %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
