<!DOCTYPE html>
<html>
  <head>
    <title>TeacherApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice]%><p class="notice"><%= notice %></p><% end %>
    <% if flash[:alert]%><p class="alert"><%= alert %></p><% end %>

    <% if user_signed_in? %>
      <div> Welcome <%= current_user.email %> </div>
    <% end %>

    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
          <% if policy(:user).index? %>
            <li><%= link_to "Teachers", users_path %></li>
          <% end %>
          <% if policy(:document).index? %>
          <li><%= link_to "Documents", documents_path %></li>
          <% end %>
          <li><%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete } %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
    <footer>
      Please forgive lack of styling for now. Hopefully I will have time to add it later.
    </footer>
  </body>
</html>
